<div class="row formulario">
  <div class="col-ms-12">

    <h2 class="tituloform"> Inicia Sesion </h2>

    {{#if errorMessage}}
    <p class="error-message">
      {{ errorMessage }}
    </p>
    {{/if}}

    <form action="/auth/login" method="post">
      <div class="intros">
        <input type="email" name="email" id="email-input" placeholder="Email">
      </div>
      <div class="intros">
        <input type="password" name="password" id="password-input" placeholder="Password">
      </div>

      <button class="crea"> Inicia Sesión </button>
      
    </form>

    <div class="legal">
      ¿Todavia no tienes cuenta?
      <a href="/auth/signup">
        Registrate aqui
      </a>
    </div>
  </div>
</div>