 {{#if isUserLoggedIn }}
<h1> Hello, {{ currentUserInfo.username }}. </h1>
{{/if}}
<nav>
  <ul>
    {{#if isUserLoggedIn }}
    <li>
      <a href="auth/logout"> Log Out </a>
    </li>
    {{else}}
    <div class="container">
      <div class="row imagen">
        <div class="col-ms-12">
          <img class="portada" src="/images/portada.png" alt="imagendeportada">
        </div>
      </div>
      <div class="row titulo">
        <div class="col-ms-12">
          <h1> {{ title }} </h1>
          <p class="parrafo1">Estas buscando un Chino abierto en mitad de la noche, esta es tu APP</p>
        </div>
      </div>
      <div class="col-ms-12 sign">
          <a href="auth/signup"> Registrate Aquí</a>
      </div>
      <div class="login">
        <a href="auth/login"> Inicia sesion </a>
      </div>
      {{/if}}
    </div>

  </ul>
</nav>