

<h2>Si lo prefieres haz tu busqueda aqui</h2>

<input type="text" name="search" id="search-input"
      placeholder="Search">
<script type="text/javascript">
    window.users = {{{users}}}
</script>
<div id="map"></div>
<script src='/javascripts/map.js' /></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlSmRpGl2kaSE2_ZK-5X6OiA5942IFepI&callback=initMap"></script>




 <a href="/">Log out</a>
