// @font-face{
//   font-family: shanghai;
//   src:'/fonts/shanghai.ttf)';
// }

body {
  padding: 50px;
  font-family:shanghai;
  background-color:#F95F62;
}

a {
  color: #00B7FF;
}
.portada{
  text-align: center;
}
#map {
  height: 100%;
}